<div>
  <div class="row">
    <div class="col-md-6">
      <app-map (onPopulateCountryForm)="onPopulateCountryForm($event)"></app-map>
    </div>
    <div class="col-md-6">
      <div class="container mt-4">
        <form>
          <div class="form-group">
            <label for="countryName">Country Name</label>
            <input type="text" class="form-control" id="countryName" value={{this.countryInfo.countryName}}>
          </div>
          <div class="form-group">
            <label for="countryCapital">Country Capital</label>
            <input type="text" class="form-control" id="countryCapital" value={{this.countryInfo.capitalCity}}>
          </div>
          <div class="form-group">
            <label for="countryRegion">Country Region</label>
            <input type="text" class="form-control" id="countryRegion" value={{this.countryInfo.region}}>
          </div>
          <div class="form-group">
            <label for="incomeLevel">Income Level</label>
            <input type="text" class="form-control" id="incomeLevel" value={{this.countryInfo.incomeLevel}}>
          </div>
          <div class="form-group">
            <label for="latitude">Latitude</label>
            <input type="text" class="form-control" id="latitude" value={{this.countryInfo.latitude}}>
          </div>
          <div class="form-group">
            <label for="longitude">Longitude</label>
            <input type="text" class="form-control" id="longitude" value={{this.countryInfo.longitude}}>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
